{% load static %}
<div>
    <footer class="text-center text-lg-start" style="background-color: #212529;">
        <div class="container d-flex justify-content-center py-lg-2 mt-2">
            <a href="https://www.linkedin.com/in/ismail-avci-aa2a45221/" target="_blank">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                style="background-color: #54456b;">
                <i class="bi bi-linkedin"></i>
            </button>
            </a>
            <a href="https://www.youtube.com/channel/UCnXDtcuvsSBYBdY5A1wBsTg" target="_blank">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                    <i class="bi bi-youtube"></i>
                </button>
            </a>
            <a href="https://github.com/ieavci" target="_blank">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                    <i class="bi bi-github"></i>
                </button>
            </a>
            <a href="https://www.twitter.com/ieavci" target="_blank">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2"
                    style="background-color: #54456b;">
                    <i class="bi bi-twitter"></i>
                </button>
            </a>
        </div>

        
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.062);">
            © 2023 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/ismail-avci-aa2a45221/">LinkedIn</a>
        </div>
        
    </footer>      
   
</div>